In [1]:
import pyspark as ps
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
import pandas as pd
import numpy as np

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
ratings_df = pd.read_csv('data/training.csv')
train_df = ratings_df.sort_values('timestamp', ascending=True)[:-100000]

In [4]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 4 columns):
user         800000 non-null int64
movie        800000 non-null int64
rating       800000 non-null int64
timestamp    800000 non-null int64
dtypes: int64(4)
memory usage: 24.4 MB

In [5]:
ratings_spark_df = spark.createDataFrame(ratings_df)

In [6]:
ratings_spark_df = ratings_spark_df.drop('timestamp')

In [7]:
als_model = ALS(
    itemCol='user',
    userCol='movie',
    ratingCol='rating',
    nonnegative=True,    
    regParam=0.1,
    rank=10
    )

In [10]:
from src.recommender import MovieRecommender as MR

In [11]:
ratings_fit = als_model.fit(ratings_spark_df)

In [45]:
requests = spark.read.csv('data/requests.csv', header=True, schema = schema, inferSchema=False)

In [26]:
def casting_function(row):
    id, movie = row
    return int(id), int(movie)

In [27]:
type(requests)

pyspark.sql.dataframe.DataFrame

In [46]:
requests = requests.rdd.map(casting_function)

In [37]:
from pyspark.sql.types import *

In [47]:
schema = StructType( [
        StructField('user', IntegerType(), True),
        StructField('movie', IntegerType(), True)])

In [48]:
requests = spark.createDataFrame(requests, schema)

In [49]:
requests.printSchema()

root
 |-- user: integer (nullable = true)
 |-- movie: integer (nullable = true)

In [50]:
requests.show()

+----+-----+
|user|movie|
+----+-----+
|4958| 1924|
|4958| 3264|
|4958| 2634|
|4958| 1407|
|4958| 2399|
|4958| 3489|
|4958| 2043|
|4958| 2453|
|5312| 3267|
|5948| 3098|
|5948| 1180|
|3158| 2648|
| 403| 1036|
|3693|  468|
|5950| 1262|
|5950| 3555|
|5950| 3793|
|5950| 3578|
|5950| 3948|
|5950| 3893|
+----+-----+
only showing top 20 rows

In [53]:
preds = ratings_fit.transform(requests).collect()

In [69]:
preds_df = pd.DataFrame(preds, columns=['user', 'movie', 'rating'])

In [70]:
preds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200209 entries, 0 to 200208
Data columns (total 3 columns):
user      200209 non-null int64
movie     200209 non-null int64
rating    104439 non-null float64
dtypes: float64(1), int64(2)
memory usage: 4.6 MB

In [71]:
preds_df

        user  movie    rating
0        148   1088       NaN
1        148   1580       NaN
2        148   2122       NaN
3        148   2142       NaN
4        148   2366       NaN
5        148   3175       NaN
6        148    858       NaN
7        148   1127       NaN
8        148   1721       NaN
9        148   3698       NaN
10       148   1270       NaN
11       148   2393       NaN
12       148   3704       NaN
13       148    808       NaN
14       148   2748       NaN
15       148   2096       NaN
16       148   2392       NaN
17       148   3028       NaN
18       148   1888       NaN
19       148   2874       NaN
20       148   3062       NaN
21       148   1016       NaN
22       148   2396       NaN
23       148   3703       NaN
24       148    673       NaN
25       148    593       NaN
26       148    597       NaN
27       148   1653       NaN
28       148   2797       NaN
29       148   3441       NaN
...      ...    ...       ...
200179  2376   2745  3.554164
200180  2376    144  3.134544
200181  2376   3949  4.117712
200182  2376   1044  2.903812
200183  2376   1204  4.235978
200184  2555   2023  2.857690
200185  2555   1955  3.366092
200186  2555   2628  2.697260
200187  2555   3551  3.553517
200188  3053   2455  2.920680
200189  3053   3476  3.180608
200190  3053   2716  2.851005
200191  3053   1345  3.229150
200192  3053   2160  3.671537
200193  3053   2747  2.763792
200194  4585   3175  3.938285
200195  4585   3857  2.887850
200196  4585   3793  4.186739
200197  4585   1073  3.943558
200198  4585    903  4.096502
200199  4585   3424  3.598124
200200  4585   3146  3.544498
200201  4585   3578  4.323484
200202  4585   2706  4.060253
200203  5125    955  4.164864
200204  5125   3739  4.106901
200205  5125   1256  4.340465
200206  5125   3307  4.376803
200207  5125    905  4.282625
200208  5125    947  4.163929

[200209 rows x 3 columns]

In [72]:
pd.DataFrame.to_csv(preds_df, 'submit.csv', na_rep='NaN', index=False)